[bot]
names = 아침
    점심
    저녁

messages = 조식이~ 왔어요~! :smiley:
    밥 먹으러 갑시다~ :yum:
    저녁 드실 분~! :raised_hand_with_fingers_splayed:

lunch_number = 4
recommend_message = 오늘의 추천 메뉴는 %d번 입니다.

[resource]
store = {Object Store URL}
container = {Container Name}
face-object = {Face Object Name}

[dooray]
hook-url = {Your Dooray Hook URL}
